.update-post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .updateForm {
    /* padding-top: 90px; */
    display: flex;
    flex-direction: column;
  }
  
  .updateLavel {
    margin-bottom: 10px;
  }
  
 .updateLavel input,
  .updateTextarea {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .updateButton {
    background-color: #fff; /* No color */
    border: 1px solid #000; /* No color */
    padding: 10px;
    cursor: pointer;
  }
  