.about-container {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-container  h1 {
    color: #333;
  }
  
  .about-container  p {
    line-height: 1.6;
  }
  
  .about-container  h2 {
    color: #333;
  }
  
  .about-container  ul {
    padding-left: 20px;
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .team-member {
    text-align: center;
    width: 45%; 
    margin-bottom: 20px;
  }
  
  .team-member img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
 

  
@media (max-width: 1114px) {
  .about-container {
    padding-top: 90px;
  }
}
@media (max-width: 800px) {
  .about-container{
    padding-top: 90px;
  }
}

@media (max-width: 768px) {
  .about-container {
    padding-top: 90px;
  }
}
 
@media (max-width: 600px) {
  .team-member {
    width: 100%; 
  }
  .about-container{
      padding-top: 90px;

  }
}

@media (max-width: 480px) {
  .about-container {
    padding-top: 90px;
  }
}


  
