.home_container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home_main_container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bannerTextContainer {
  padding: 30px;
  margin-top: 5rem;
}

.banner_text {
  position: relative;
  line-height: 50px;
  color: #65676b;
}
.exploreBtn {
  display: flex;
  position: absolute;
  top: 102px;
  left: 8rem;
}
.exploreBtn button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #ffffff;
  background-color: #0866ff;
  color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}
.exploreBtn a:hover {
  background: none;
}
.exploreBtn button:hover {
  background-color: #2261c7;
  border: 1px solid #ffffff;
}

.right_container ul {
  background-color: #e4e6e9;
  border-radius: 5px;
  margin: 10px;
}
.right_container ul a {
  font-size: 16px;
  color: #0866ff;
}
.right_container ul a:hover {
  color: hsl(141, 93%, 37%);
  background: none;
  text-decoration: underline;
}
.explorebtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #178bd8;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 2rem;
}
.explorebtn a{
  background: none;
  color: #ffffff;
}
.explorebtn a:hover{
  color: #e7cbcb;
 
}

/* Home Page Responsive */

@media (max-width: 1115px) {
  .home_main_container {
    width: 120%;
    padding-top: 50px;
  }
  .right_container {
    padding: 10px;
    margin-top: 50px;
  }
  .banner_text {
    position: static;
  }
  .exploreBtn {
    position: static;
    margin-top: -50px;
    margin-left: 120px;
  }
  .right_container {
    padding: 15px;
  }
}
@media (max-width: 952px) {
  .home_main_container {
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
  }
  .exploreBtn {
    position: fixed;
    /* margin-top: -20px; */
  }
}

@media (max-width: 884px) {
  .home_main_container {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
  .banner_text,
  .exploreBtn {
    position: static;
  }
  .exploreBtn {
    margin-top: 0;
    margin-left: 0;
  }
  .right_container {
    padding-left: 1px;
    font-size: 18px;
  }
}
