.home_container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home_main_container {
  /* background-color: #f0f2f5; */
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bannerTextContainer {
  padding: 30px;
  margin-top: 5rem;
}

.banner_text {
  position: relative;
  line-height: 50px;
  /* background-color: #f0f2f5; */
  color: #65676b;
}
.exploreBtn {
  display: flex;
  position: absolute;
  top: 102px;
  left: 8rem;
}
.exploreBtn button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #ffffff;
  background-color: #0866ff;
  /* background-color: #ABE2E9; */
  color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}
.exploreBtn a:hover {
  background: none;
}
.exploreBtn button:hover {
  background-color: #2261c7;
  border: 1px solid #ffffff;
}

.right_container {
  margin: 1rem 0 0 5rem ;
}
.right_container ul{
  background-color: #E4E6E9;
  border-radius: 5px;
  margin: 10px;
}
.right_container ul a{
  font-size: 16px;
  color: #0866ff;
}
.right_container ul a:hover{
  color: hsl(141, 93%, 37%);
  background: none;
  text-decoration: underline;
}

/* .home_container{
    max-width: 1280px;
    height: 100vh;
} */

/* .home_main_container{
    wi
    display: flex;
    justify-content: space-between;
    align-items: center;

} */

/* Home Page Responsive */

@media (max-width: 1115px) {
  .home_main_container {
    width: 120%;
    padding-top: 50px;
  }
  .right_container {
    padding: 10px;
    margin-top: 50px;
  }
  .banner_text {
    position: static;
  }
  .exploreBtn {
    position: static;
    margin-top: -50px;
    margin-left: 120px;
  }
  .right_container {
    padding: 15px;
  }
}
@media (max-width: 952px) {
  .home_main_container {
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
  }
  .exploreBtn {
    position: fixed;
    /* margin-top: -20px; */
  }
}

@media (max-width: 884px) {
  .home_main_container {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
  .banner_text,
  .exploreBtn {
    position: static;
  }
  .exploreBtn {
    margin-top: 0;
    margin-left: 0;
  }
  .right_container {
    padding: 15px;
    font-size: 18px;
  }
}
