.dtlsjobFullWidth {
  font-family: 'Inter, "Noto Sans Bengali UI", ui-icon, sans-serif';
  margin: 0;
  padding: 0;
}
.dtlsjobCard h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
}
.dtlsjobCard p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.dtlsjobFullWidth {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dtlsjobCardText {
  padding: 5px;
}
.dtlsjobCard {
  max-width: 829px;
  height: 100%;
  margin: 5px auto;
  background: #fbfbfb;
  border: 1px solid #d5d5d5;
  cursor: pointer;
  padding: 5px 18px 15px 10px;
  border-radius: 8px;
  color: #656565;
}

.dtlscompanyLogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.headingText{
  margin-left: -60px;
}
.headingText .position {
  margin-top: 8px;
  border-radius: 50px;
  background-color: #0d6efd;
  color: #fff;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  padding: 0.35em 0.65em;
  text-align: center;
}
.dtlscompanyLogo p {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
}
.dtlscompanyLogo img {
  height: 95px;
  padding: 15px;
  width: 180px;
  display: block;
}
.dtlscompanyLogo img {
  background-color: #fefff7;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.applyArea{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem 0 3rem 0;
}
.applyBtn button{
  margin-left: 10rem;
  border: 2px solid #65990c;
  background-color: hsl(141, 93%, 37%);
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 15px 12px;
  cursor: pointer;
}
.applyBtn button:hover{
  background-color: #3f9f45;
}
.companyDetails{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.dtlsjobCard hr{
  margin-bottom: 2rem;
  height: 1px;
  color: #65b5e5;
  background-color: currentColor;
  border: 0;
  color: inherit;
  margin: 1rem 0;
  opacity: .25;
}

.positionSummary{
  margin-top: 2rem;
}
.positionSummary h2{
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: #242e39;
  font-family: "Lato",sans-serif;
}
.positionSummary span{
  padding: 0.5rem;
  color: #242e39;
  font-family: "Lato",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;

}
.requiredSkills{
  margin: 40px 0 20px;
}
.requiredSkills h2{
  color: #242e39;
  font-weight: 600;
}
.requiredSkills ul li{
  padding: 10px;
  color: #242e39;
  font-size: 18px;

}
.dtlsjobCard:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.dtlsjobCard h1 a {
  color: #3f9f45;
}

.dtlsjobCard a {
  color: #3498db;
  text-decoration: none;
  padding-top: 20px;
}

.dtlsjobCard a:hover {
  background: none;
  text-decoration: underline;
}
.dtlslocation,
.dtlscompany,
.jobPosition {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 7px;
}
.dtlscompany {
  align-items: center;
  display: flex;
  
}

/* Responsive */
@media (max-width: 1114px) {
  .dtlsjobFullWidth {
    padding-top: 90px;
  }
  .dtlsjobCard {
    margin-top: 15px;
  }
}
@media (max-width: 885px) {
  .dtlsjobFullWidth {
    padding-top: 90px;
  }
  .dtlsjobCard {
    width: 100%;
    margin-top: 15px;
    height: 100%;
  }
  .dtlscompanyLogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .applyArea{
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0 3rem 0;
  }
  .headingText{
    margin-left: 0;
  }
  .applyBtn button{
    margin:2rem 0 0 0;
  }

}
