.create-post-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  height: 100%;
}

.create-post-container h1 {
  text-align: center;
  color: #333;
}

.creatFormContainer {
  margin-top: 20px;
}

.createForm {
  display: flex;
  flex-direction: column;
}


.createInput,
.creatTextArea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

.createInput:focus,
.creatTextArea:focus {
  outline: none;
  border-color: #4caf50;
}

.creatLavelContainer {
  margin-bottom: 20px;
}

.createLavel {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.createButton {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.createButton:hover {
  background-color: #45a049;
}


/* Responsive Styles */

@media (max-width: 1114px) {
  .create-post-container {
    padding-top: 90px;
  }
}
@media (max-width: 800px) {
  .create-post-container {
    padding-top: 90px;
  }
}

@media (max-width: 768px) {
  .create-post-container {
    padding-top: 90px;
  }
}

@media (max-width: 480px) {
  .create-post-container {
    padding-top: 90px;
  }
}

